# Cloudinary (https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# JSONBin.io (https://jsonbin.io/api-reference)
JSONBIN_API_KEY=
JSONBIN_MASTER_KEY=
JSONBIN_BIN_SONGS=
JSONBIN_BIN_USERS=
JSONBIN_BIN_CATEGORIES=

# Auth
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
SEED_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
